* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#fullscreen {
    width: 100vw;
    height: 100vh;
    background: #eccc68;
    color: #ff4757;
    position: fixed;
    text-align: center;
    font-family: Arial;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackpad {
    float: right;
    height: 100vh;
    width: 50vw;
    background: #f1f2f6;
}

.joystick {
    float: left;
    height: 100vh;
    width: 50vw;
    background: #dfe4ea;
}