<template>
    <div 
         v-if="clicked == false"
         id="fullscreen"
         @click="handleClicked"
    >
        <h1>Click here to enter fullscreen.</h1>
    </div>
</template>

<script>
    const screenfull = require('screenfull');

    export default {
        data() {
            return {
                clicked: false
            }
        },
        mounted() {
            console.log('Fullscreen Component Mounted!');
        },
        methods: {
            handleClicked() {
                console.log('FullScreen clicked!');
                screenfull.request();
                this.clicked = true;
            }
        }
    }
</script>