<template>
    <div 
         class="joystick"
         ref="joystick"
    >
        <touch
            :handler="touchHandler"
        >
            <canvas 
                ref="canvas"
                :width="width"
                :height="height"
            ></canvas>
        </touch>
    </div>
</template>

<script>
    const lerp = require('lerp')
    const client = require('../utilities/SocketClient.js');

    export default {
        data() {
            return {
                ctx: null,
                data: null,
                loop: null,
                alpha: 1,
                width: 0,
                height: 0
            }
        },
        mounted() {
            this.ctx = this.$refs.canvas.getContext('2d');
            this.loop = setInterval(this.draw, 16);
            this.resize();

            window.addEventListener('resize', this.resize);

            console.log("Joystick Component mounted.");
        },
        methods: {
            resize() {
                console.log("Joystick Component - Resizing.");

                this.width = this.$refs.joystick.clientWidth;
                this.height = this.$refs.joystick.clientHeight;
            },
            touchHandler(data) {
                this.data = data;
            },
            draw() {
                if (this.data != null) {
                    this.ctx.clearRect(0, 0, this.width, this.height);

                    if (this.data.touching) {
                        this.alpha = 1;
                    }
                    else {
                        this.alpha = lerp(this.alpha, 0, 0.1);
                    }

                    // Draw an icon where the user it touching
                    this.ctx.beginPath();
                    this.ctx.fillStyle = '#70a1ff';
                    this.ctx.globalAlpha = this.alpha;
                    this.ctx.arc(this.data.px.x, this.data.px.y, 25, 0, 2 * Math.PI);
                    this.ctx.fill();
                }

            }
        }
    }
</script>