<template>
    <div
         :class="classes.split(' ')"
         @touchstart="triggerDown"
         @touchend="triggerUp"
    >
    </div>
</template>

<script>
    const client = require('../utilities/SocketClient.js');

    export default {
        props: {
            classes: {
                required: true
            },
            code: {
                required: true
            }
        },
        data() {
            return {
                down: false
            }
        },
        mounted() {
            console.log('Key Component Mounted!');
        },
        methods: {
            triggerDown(e) {
                if (!this.down) {
                    client.send({
                        type: 1,
                        u: {
                            ki: {
                                wvk: parseInt(this.code),
                                wScan: 0,
                                dwFlags: 4,
                                time: 0,
                                dwExtraInfo: {
                                    value: 0
                                }
                            }
                        }
                    });

                    this.down = true;
                }
            },
            triggerUp(e) {
                if (this.down) {
                    client.send({
                        type: 1,
                        u: {
                            ki: {
                                wvk: parseInt(this.code),
                                wScan: 0,
                                dwFlags: 6,
                                time: 0,
                                dwExtraInfo: {
                                    value: 0
                                }
                            }
                        }
                    });

                    this.down = false;
                }
            }
        }
    }
</script>