<template>
    <div
         class="trackpad"
         @touchstart="handleTouchStart"
         @touchmove="handleTouchMove"
         @touchend="handleTouchEnd"
    >
    </div>
</template>

<script>
    const client = require('../utilities/SocketClient.js');

    export default {
        data() {
            return {
                touch: null,
                position: {
                    x: 0,
                    y: 0
                }
            }
        },
        mounted() {
            console.log('Trackpad Component Mounted!');
        },
        methods: {
            handleTouchStart(e) {
                if (this.touch == null) {
                    console.log('Trackpad Component - Touch Start');

                    this.touch = e.changedTouches.item(0).identifier;

                    var curTouch = e.changedTouches.item(0);

                    this.position.x = curTouch.clientX;
                    this.position.y = curTouch.clientY;
                }
            },
            handleTouchMove(e) {
                if (e.changedTouches.item(0).identifier == this.touch) { 
                    console.log('Trackpad Component - Touch Move');

                    var curTouch = e.touches.item(0);

                    client.send('mouse:move', {
                        x: (curTouch.clientX - this.position.x) * 2.5,
                        y: (curTouch.clientY - this.position.y) * 2.5
                    });

                    this.position.x = curTouch.clientX;
                    this.position.y = curTouch.clientY;
                }
            },
            handleTouchEnd(e) {
                if (e.changedTouches.item(0).identifier == this.touch) {
                    console.log('Trackpad Component - Touch End');

                    this.touch = null;
                }
            }
        }
    }
</script>